
%h1 Comments for Photo #{@photo.title}
.col
  = link_to 'Close' , '', class: "btn btn-primary ", id: 'closeLink'

-current_user = session[:user_id]
.row.md-2
  -@photo.comments.order(created_at: :desc).each do |comment|
    = "User:"
    %strong= " #{User.find(comment.user_id).email}"
    .well.sm-2.content
      %strong
        = comment.comment

- @user =session[:user_id]
=form_tag user_photo_comments_path(@user, @photo) do
  = label :comment, :content, 'Comment'
  = text_area :comment, :content
  = submit_tag 'Publish Comment'