
%h1 Comments for Photo #{@photo.title}
.col
  = link_to 'Back' , user_path(session[:user_id]), class: "btn btn-primary "

-current_user = session[:user_id]
.row.md-2
  -@photo.comments.order(created_at: :desc).each do |c|
    = "User:"
    %strong= " #{User.find(c.user_id).email}"
    = "wrote for photo #{@photo.title}:"
    .well.sm-2.content
      %strong
        = c.comment

- @user =session[:user_id]
=form_tag user_photo_comments_path(@user, @photo), :method => :post do
  = label :comment, :content, 'Comment'
  = text_area :comment, :content
  = submit_tag 'Add Comment'