%nav.navbar.treegram
  %a.navbar-brand{:href => "/users/" + current_user.id.to_s}
    %i.glyphicon.glyphicon-home
      Home
  %a.navbar-brand{:href => users_path }
    %i.glyphicon.glyphicon-heart
      Follows
  %a.navbar-brand{:href => new_user_photo_path(@user) }
    %i.glyphicon.glyphicon-cloud-upload
      Upload
  %a.navbar-brand.navbar-right.pd{:href => log_out_path }
    %i.glyphicon.glyphicon-log-out
      Logout
-# = link_to 'Follow Users', users_path, class: %w[btn btn-info follow_btn]
-# = link_to 'Logout', log_out_path, class: %w[btn btn-danger logout_btn]
-# = link_to 'Add Photo', new_user_photo_path(@user), class: %w[btn btn-success add_photo_btn]
.row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/

.row
  - @users.each  do |user|
    -if current_user.following?(user) or user.id == current_user.id
      -puts user.photos.class.name
      -user.photos.order(created_at: :desc).each do |photo|
        .well.col-sm-4
          #title= user.email
          #title= photo.title
          = image_tag photo.image.url(:medium), :class => "uploaded_photo"
          = form_for @tag do |f|
            = f.hidden_field :photo_id, value: photo.id
            = f.collection_select :user_id, @users, :id, :email
            = f.submit "Tag User" ,:class => "tag-submit"
          - photo.tags.each do |tag|
            = tag.user.email
          %br/
          .comments Comment Section
          %br/
          - photo.comments.order(created_at: :desc).each do |comment|
            %span#comment= comment.user.email
            = " :"
            %strong#comment= comment.comment
            %br/
          = form_for @comment do |comment|
            = comment.text_field :comment
            = comment.hidden_field :comment_user_id, value: @user.id
            = comment.hidden_field :photo_id, value: photo.id
            = comment.submit 'Add comment'