%nav.navbar.treegram
  %a.navbar-brand{:href => user_path(current_user)}
    %i.glyphicon.glyphicon-home
      Home
  %a.navbar-brand{:href => users_path }
    %i.glyphicon.glyphicon-heart
      Follows
  %a.navbar-brand{:href => new_user_photo_path(@user) }
    %i.glyphicon.glyphicon-cloud-upload
      Upload
  %a.navbar-brand.navbar-right.pd{:href => log_out_path }
    %i.glyphicon.glyphicon-log-out
      Logout

.row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/

%h1.section My Slides
-if @user.photos.any?
  .row
    .well.col-sm-4
      -photos= @photos.where(:user_id => @user.id).order(created_at: :desc)
      #title= @user.email
      #title= photos.first.title
      %img#slide{alt: photos.first.title, src:photos.first.image.url(:medium), href: user_photo_comments_path(@user, photos.first.id), class: "uploaded_photo"}
      #slides
        -photos.each do |photo|
          %img{alt: photo.title , src: photo.image.url(:medium), href: user_photo_comments_path(@user.id, photo.id) }

%h1.section Follower Slides
.row
  -@follows.where(:follower_id => @user.id).each do |follow|
    -photos= @photos.where(:user_id=> follow.followed_id).order(created_at: :desc)
    -latest_photo = photos.first
    -user = User.find(latest_photo.user_id)
    .well.col-sm-4
      #title= user.email
      #title= latest_photo.title
      %img#slide{alt: latest_photo.title, src: latest_photo.image.url(:medium), href: user_photo_comments_path(user, latest_photo.id), class: "uploaded_photo"}
      #slides
        - photos.each do |photo|
          %img{alt: photo.title, src: photo.image.url(:medium),href: user_photo_comments_path(user, photo.id ) }